---
permalink: index.html
eleventyComputed:
  title: '<%= site.title %>'
---

<% const queryDates = new datum.queryDates(new Date()) %>

<div>
  <h2 class="text-xl font-bold">Heute, <%= queryDates.formatDate(queryDates.heute) %></h2>
  <% let abfuhrenHeute = [] %>
  <% kalenderQuery.abfuhrDesAktuellenMonats(queryDates.dieserMonat()).forEach(function(abfuhr) { %>
    <% let bezirkeHeute = kalenderQuery.abfuhrbezirkeAbfuhrAnTag(abfuhr, queryDates.tagHeute()) %>
    <% if (bezirkeHeute){ %>
      <% let obj = {} %>
      <% obj[abfuhr] = bezirkeHeute %>
      <% abfuhrenHeute.push(obj) %>
    <% } %>
  <% }); %>

  <% if (abfuhrenHeute.length > 0){ %>
    <% abfuhrenHeute.forEach(function (abfuhr) { %>
      <%= Object.keys(abfuhr) %>:<%= Object.values(abfuhr) %>
    <% }) %>
  <% } else { %>
    Keine Abfuhren
  <% } %>
</div>

<div class="mt-2.5">
  <h2 class="text-xl font-bold">Morgen, <%= queryDates.formatDate(queryDates.morgen) %></h2>
  <% let abfuhrenMorgen = [] %>
  <% kalenderQuery.abfuhrDesAktuellenMonats(queryDates.dieserMonat()).forEach(function(abfuhr) { %>
    <% let bezirkeMorgen = kalenderQuery.abfuhrbezirkeAbfuhrAnTag(abfuhr, queryDates.tagMorgen()) %>
    <% if (bezirkeMorgen){ %>
      <% let obj = {} %>
      <% obj[abfuhr] = bezirkeMorgen %>
      <% abfuhrenMorgen.push(obj) %>
    <% } %>
  <% }); %>

  <% if (abfuhrenMorgen.length > 0){ %>
    <% abfuhrenMorgen.forEach(function (abfuhr) { %>
      Bezirk(e) <%= Object.values(abfuhr) %>: <%= Object.keys(abfuhr) %>:
    <% }) %>
  <% } else { %>
    Keine Abfuhren
  <% } %>
</div>
